 * {
    margin: 0;
    padding: 0;
}

.fondoInicio {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.8)
      ),
      url(../../assets/Images/fondoLogo.png);
      background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    z-index: 1000 !important;
}
