@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');

.paper {
    width: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleInformation {
    margin: 35px 0 15px 0;
    background-color: #1A406F;
    width: 85%;
    color: #fff;
    text-align: center;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 0.9em;
    padding: 7px;
}

.titleFecha {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 1em;
    color: #1A406F;
    margin-top: 35px;
    margin-bottom: 10px;
}

.divider {
    width: 80%;
}

.cabecera {
    margin-top: 35px;
}

.subCabecera {
    margin-bottom: 55px;
}

.ultimoTexto {
    margin-bottom: 35px;
}