.containerCards {
    background-color: #F6F6F6;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    padding-left: 12%;
    padding-right: 12%;
}